doctype html
html
  head
    title= title
    link(rel='icon' href='favicon.png')
    link(rel='stylesheet', href='/stylesheets/template.css')
    link(rel='stylesheet', href='/stylesheets/w3.css')
  body
    block content