/* Define a fonte padrão para o site */
body {
    font-family: Arial, sans-serif;
}

/* Define o estilo de cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px;
}

/* Estilo do logotipo */
h1 {
    margin: 0;
    font-size: 40px;
}

/* Estilo do menu de navegação */
nav {
    display: inline-flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    border-radius: 15% 15% 15% 15%;
    background-color: rgb(193, 193, 193);
}

/* Estilo da seção de conteúdo principal */
main {
    margin: 20px;
}

/* Estilo das seções individuais */
section {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

/* Estilo do botão "Voltar ao topo" */
.button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

